@font-face {
    font-family: "Flaticon";
    src: url("../assets/newicons/flaticon.eot");
    src: url("../assets/newicons/flaticon.eot#iefix") format("embedded-opentype"),
    url("../assets/newicons/flaticon.woff") format("woff"),
    url("../assets/newicons/flaticon.ttf") format("truetype"),
    url("../assets/newicons/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}.flaticon-lines7:before {
     content: "\e000";
 }
.flaticon-logotype1:before {
    content: "\e001";
}
.flaticon-right11:before {
    content: "\e002";
}
